:host
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 300px;
}

.ad-header
{
    font-weight: bold;
    font-size: 20px;
}

.ad-category
{
    background-color: wheat;
}