<div class="single-ad-info">
    <span class="single-ad-header">{{ ad.name }}</span>
    <span class="single-ad-text">{{ ad.text }}</span>
    <div class="single-ad-categtory">
        Категория:
        <span class="single-ad-category-text">{{ ad.category }}</span>
    </div>
</div>
<div class="single-ad-comments">
    <span class="comments-header">Комментарии:</span>
    <div *ngFor="let comment of ad.comments;let index = i;" class="single-ad-comment">
        <span class="comment-author-name">{{ comment.authorName }}</span>
        <span class="comment-text">{{ comment.text }}</span>
        <span class="comment-date">{{ comment.date | date:"short" }}</span>
    </div>
</div>